.conoce {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    margin: 5px;
}

.pbii {
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 400px;
    border-radius: 5px;
}

.nou {
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 400px;
    border-radius: 5px;
}

.video {
    padding: 10px;
    margin: 10px;
    width: 560px;
    height: 315px;
    text-align: center;
}